
<h2>Dashboard</h2>
<ul>
	<li><a href="/admin/">Overview</a></li>
 	<li><a href="/admin/posts">Posts</a></li>
	<li><a href="/admin/categories">Categories</a></li>
	<li><a href="/admin/settings">Settings</a></li>
        <li><a href="#">Media (x)</a></li>
	<li><a href="/admin/bootstrap">Bootstrap</a></li>
</ul>
