
<h2>Posts</h2>
<a href="/admin/posts/edit">Add new</a> | <a href="#">All (xx)</a> | <a href="#">Published (xx)</a> | <a href="#">Draft (xx)</a> <br /> <br />

<table width="100%">
  <tr> <th>Title</th> <th>Author</th> <th>Categories</th> <th>Tags</th> <th>Comments</th> <th>Date</th> </tr>
</table>

