
{{#postid}}<h2 class="widgettitle">Edit Post</h2>{{/postid}}
{{^postid}}<h2 class="widgettitle">Add New Post</h2>{{/postid}}
<script type="text/javascript" src="/ee/js/epiceditor.min.js"></script>
<script type="text/javascript">
var tags = [];
$(document).ready(function() {
 
 function rendertags() {  
   $.each($("#tags").children(),function(t,e) { $(e).remove(); });
   $.each(tags,function (t,e) {
     $("#tags").append("<span class=\"showtag\">"+
        "<a class=\"tagdelete\">X</a>&nbsp;"+
         e+"<input type=\"hidden\" name=\"tags[]\" value=\""+e+"\" /></span>");}); 
   $('.taginput').val("");
   $(".tagdelete").click(function() {
   var ntags = []; var e = $(this);
   $.each(tags,function(i,v) { if( v != e.parent().find("input").val()) ntags.push(v); });
   tags = ntags;
   e.parent().remove();
   });}

 {{#post.tags}} tags.push("{{.}}"); {{/post.tags}} rendertags();
 
 if($("#title").val() != "") $("#title-prompt-text").hide();
 $("#title").focus(function(e) { $("#title-prompt-text").hide()   } );
 $("#title").blur(function() { if($(this).val() == "") $("#title-prompt-text").show();  } );

 $('.taginput').keydown(function(e) { /* 13 = return key */if( e.keyCode === 13) { return false; }});

 $('.taginput').change(function() {
   // Logic to sync tags
   $.each($(this).val().split(','), function(i,v) {
     var tag = v.trim();
     if($.inArray(tag, tags) == -1) tags.push(tag);
   }); rendertags();
 });

  var opts = {
  basePath: '/ee',
  clientSideStorage: false
  };
  var editor = new EpicEditor(opts).load();
  var refresh = function () {
   $('#textarea').val(editor.exportFile("fname","html"));
   $('#markdown').val(editor.exportFile("fname"));
  };
  
  {{#post.markdown}}editor.importFile("fname",$('#markdown').val());{{/post.markdown}}
  {{^post.markdown}}
    {{#post.content}}editor.importFile("fname",$('#textarea').val());{{/post.content}}
    {{^post.content}}editor.importFile("fname","");{{/post.content}}
  {{/post.markdown}} 
  
  editor.on('update', refresh); 
  refresh();
  $('#textarea').hide();  
  $('#markdown').hide();
});
</script>

<form id="pform" action="save" method="post">
{{#post.created}}<input type="hidden" name="created" value="{{post.created}}" />{{/post.created}}
<div id="postcontainer" style="position: relative; float: left; width:550px;">
  {{#post._id}}<input name="postid" type="hidden" value="{{post._id}}" />{{/post._id}}
  <label class="hide-if-no-js" id="title-prompt-text" for="title">Enter title here</label>
  <input type="text" name="title" size="30" tabindex="1" id="title" autocomplete="off" value="{{post.title}}" tabindex="1"> <br />
  <div id="epiceditor" style="height:500px;"></div>
  <textarea id="textarea" name="content" cols="35" rows="20" tabindex="2">{{post.content}}</textarea>
  <textarea name="markdown" id="markdown">{{post.markdown}}</textarea>
</div>

<div id="submitbuttons" class="uiwidget">
  <h3>Publish</h3>
  <div style="text-align:center;">
    <input type="button" name="preview" id="preview" value="Preview"   class="actionbutton" tabindex="4" /> <br />
    <input type="submit" name="save" id="save-post" value="Save Draft" class="actionbutton" tabindex="5" /> <br />
    <input type="submit" name="save" id="save"      value="Save"       class="actionbutton" tabindex="6"/> <br />
  </div>
</div>

<div id="choosecategorybox" class="uiwidget">
  <h3>Category</h3>
  <div style="text-align:center;">
  <select name="category" class="actionbutton" tabindex="3">
{{#categories}}  
    <option value="{{name}}" {{#selected}} selected="selected" {{/selected}}>{{name}}</option>
{{/categories}}
  </select>
  </div>
</div>

<div id="tagbox" class="uiwidget">
<h3>Tags</h3>
<div style="text-align:center;">
<label for="tags" class="taglabel">Separate with commas</label>
<input type="text" class="taginput" value="{{post.tags}}" />
<div id="tags">
</div>
</div>
</div>

<div id="furtheroptions" class="uiwidget">
<h3>Settings</h3>
<div style="text-align:center;">
 <label for="showtitle" class="checkboxlabel">Show title</label>
 <input type="checkbox" name="showtitle" {{^post._id}}checked="checked"{{/post._id}} {{#post.showtitle}}checked="checked"{{/post.showtitle}} />
</div>
</div>

</form>

