
{{#postid}}<h2 class="widgettitle">Edit Post</h2>{{/postid}}
{{^postid}}<h2 class="widgettitle">Add New Post</h2>{{/postid}}
<!--<script type="text/javascript" src="/js/nicEdit.js"></script>-->
<script type="text/javascript" src="/js/advanced.js"></script>
<script type="text/javascript" src="/js/wysihtml5-0.3.0_rc2.min.js"></script>
<script type="text/javascript">
var tags = [];
$(document).ready(function() {
 
 function rendertags() {  
   $.each($("#tags").children(),function(t,e) { $(e).remove(); });
   $.each(tags,function (t,e) {
     $("#tags").append("<span class=\"showtag\">"+
        "<a class=\"tagdelete\">X</a>&nbsp;"+
         e+"<input type=\"hidden\" name=\"tags[]\" value=\""+e+"\" /></span>");}); 
   $('.taginput').val("");
   $(".tagdelete").click(function() {
   var ntags = []; var e = $(this);
   $.each(tags,function(i,v) { if( v != e.parent().find("input").val()) ntags.push(v); });
   tags = ntags;
   e.parent().remove();
   });}

 {{#post.tags}} tags.push("{{.}}"); {{/post.tags}} rendertags();
 
 if($("#title").val() != "") $("#title-prompt-text").hide();
 $("#title").focus(function(e) { $("#title-prompt-text").hide()   } );
 $("#title").blur(function() { if($(this).val() == "") $("#title-prompt-text").show();  } );
 //var editor = new nicEditor({fullPanel : true, iconsPath: '/js/nicEditorIcons.gif'});
 //editor.panelInstance('textarea');
  
 var editor = new wysihtml5.Editor("textarea", { // id of textarea element
  toolbar:      "toolbar", // id of toolbar element
  stylesheets: ["css/editor.css"],
  parserRules:  wysihtml5ParserRules // defined in parser rules set 
});

 $('.taginput').keydown(function(e) { /* 13 = return key */if( e.keyCode === 13) { return false; }});

 $('.taginput').change(function() {
   // Logic to sync tags
   $.each($(this).val().split(','), function(i,v) {
     var tag = v.trim();
     if($.inArray(tag, tags) == -1) tags.push(tag);
   }); rendertags();
 });
});
</script>

<form id="pform" action="save" method="post">
{{#post.created}}<input type="hidden" name="created" value="{{post.created}}" />{{/post.created}}
<div id="postcontainer" style="position: relative; float: left; width:550px;">
  {{#post._id}}<input name="postid" type="hidden" value="{{post._id}}" />{{/post._id}}
  <label class="hide-if-no-js" id="title-prompt-text" for="title">Enter title here</label>
  <input type="text" name="title" size="30" tabindex="1" id="title" autocomplete="off" value="{{post.title}}" tabindex="1"> <br />

  <div id="toolbar" style="display: none;">
    <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
    <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
    <a data-wysihtml5-command="createLink">insert link</a> |
    <a data-wysihtml5-command="insertImage">insert image</a> |
    <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a> |
    <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |
    <a data-wysihtml5-command="insertUnorderedList">insertUnorderedList</a> |
    <a data-wysihtml5-command="insertOrderedList">insertOrderedList</a> |
    <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a> |
    <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a> |
    <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a> |
    <a data-wysihtml5-command="insertSpeech">speech</a>
    <a data-wysihtml5-action="change_view">switch to html view</a>
    
    <div data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    
    <div data-wysihtml5-dialog="insertImage" style="display: none;">
      <label>
        Image:
        <input data-wysihtml5-dialog-field="src" value="http://">
      </label>
      <label>
        Align:
        <select data-wysihtml5-dialog-field="className">
          <option value="">default</option>
          <option value="wysiwyg-float-left">left</option>
          <option value="wysiwyg-float-right">right</option>
        </select>
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    
  </div>

  <textarea id="textarea" name="content" cols="35" rows="20" tabindex="2">{{post.content}}</textarea>
</div>

<div id="submitbuttons" class="uiwidget">
  <h3>Publish</h3>
  <div style="text-align:center;">
    <input type="button" name="preview" id="preview" value="Preview"   class="actionbutton" tabindex="4" /> <br />
    <input type="submit" name="save" id="save-post" value="Save Draft" class="actionbutton" tabindex="5" /> <br />
    <input type="submit" name="save" id="save"      value="Save"       class="actionbutton" tabindex="6"/> <br />
  </div>
</div>

<div id="choosecategorybox" class="uiwidget">
  <h3>Category</h3>
  <div style="text-align:center;">
  <select name="category" class="actionbutton" tabindex="3">
{{#categories}}  
    <option value="{{name}}" {{#selected}} selected="selected" {{/selected}}>{{name}}</option>
{{/categories}}
  </select>
  </div>
</div>

<div id="tagbox" class="uiwidget">
<h3>Tags</h3>
<div style="text-align:center;">
<label for="tags" class="taglabel">Separate with commas</label>
<input type="text" class="taginput" value="{{post.tags}}" />
<div id="tags">
</div>
</div>
</div>

<div id="furtheroptions" class="uiwidget">
<h3>Settings</h3>
<div style="text-align:center;">
 <label for="showtitle" class="checkboxlabel">Show title</label>
 <input type="checkbox" name="showtitle" {{^post._id}}checked="checked"{{/post._id}} {{#post.showtitle}}checked="checked"{{/post.showtitle}} />
</div>
</div>

</form>

