
<h2>Posts</h2>
<a href="/admin/posts/edit">Add new</a> | <a href="#">All ({{sum}})</a> | <a href="#">Published ({{active}})</a> | <a href="#">Draft ({{inactive}})</a> <br /> <br />

<table width="100%">
  <tr> <th>Title</th> <th>Author</th> <th>Category</th> <th>Tags</th> <th>Comments</th> <th>Date</th> </tr>
{{#posts}}
  <tr style="text-align:center;"> <td>{{title}}</td> <td>{{author}}</td> <td>{{category}}</td> <td></td> <td></td> <td>{{created}}</td> </tr>
{{/posts}}
</table>

