
<h2>Dashboard</h2>
<ul>
	<li><a href="posts">Posts</a></li>
	<li><a href="#">Media (x)</a></li>
	<li><a href="categories">Categories</a></li>
	<li><a href="#">Users (x)</a></li>
	<li><a href="#">Settings (x)</a></li>
	<li><a href="bootstrap">Bootstrap</a></li>
</ul>
