<!DOCTYPE html>
<html>
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <meta name="distribution" content="global" />
	  <meta name="robots" content="follow, all" />
	  <meta name="language" content="en, de" />

	  <title>{{settings.blogtitle}}</title>
          <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    <!-- <script type="text/javascript" src="https://raw.github.com/douglascrockford/JSON-js/master/json2.js"></script> -->
	    <!-- <script type="text/javascript" src="js/app.js"></script> -->
    	  <style type="text/css" media="screen">
	     <!-- @import url( http://www.martinkremers.de/blog/wp-content/themes/whitespace/style.css ); -->
	  </style>

    </head>
    <body>
    <div id="wrap">
      <div id="header">
	<div id="headerleft">
		<a href="/">{{settings.blogtitle}}</a><br />
	</div>
	<div id="headerright">
		<ul> 
			{{#headercategories}}
			<li class="page_item"><a href="{{name}}">{{name}}</a></li>
			{{/headercategories}}
		</ul>
	</div>
	<div id="headerbottom">
	  {{#username}}
	  <div id="credentialinfo" style="font-size:7pt; float:right; padding-right:10px;">
		  You are logged in as <b>{{username}}</b>, <a style="font-size:7pt;" href="logout">Logout</a> 
	  </div>
          {{/username}}
	</div>
      </div>

      <div style="clear:both;"></div>

      <div id="tagline" style="height:4px; width:945px;" ></div>

      <div id="content">
        <div id="l_sidebar">
	  <ul id="l_sidebarwidgeted">
	    <li id="recent-posts-3" class="widget widget_recent_entries"> 
	    <h2 class="widgettitle">Recent Posts</h2>
	    {{#recentposts}}
	    <li><a href="{{category}}/{{title}}" title="{{title}}">{{title}}</a></li>
	    {{/recentposts}}
	    </li></ul>

	    <li id="linkcat-2" class="widget widget_links" style="list-style: none;"><h2 class="widgettitle">Blogroll</h2>
	    	<ul class="xoxo blogroll">
			<li><a href="http://xkcd.com/">XKCD</a></li>
		</ul>
	    </li>
  </div>

  <div id="contentleft" style="padding: 0px;">
	  <!-- Main content goes here -->
	   {{{capsule}}}
  </div>

  <div id="r_sidebar">
    <ul id="r_sidebarwidgeted">
      <li id="tag_cloud-2" class="widget widget_tag_cloud"><h2 class="widgettitle">Tags</h2>
      <div class="tagcloud"> </div>
      </li>
    </ul>
  </div>
</div>
</html>
