<!DOCTYPE html>
<html>
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <meta name="distribution" content="global" />
	  <meta name="robots" content="follow, all" />
	  <meta name="language" content="en, de" />

	  <title>{{settings.blogtitle}}</title>
          <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    <!-- <script type="text/javascript" src="https://raw.github.com/douglascrockford/JSON-js/master/json2.js"></script> -->
	    <!-- <script type="text/javascript" src="js/app.js"></script> -->
    	  <style type="text/css" media="screen">
	     <!-- @import url( http://www.martinkremers.de/blog/wp-content/themes/whitespace/style.css ); -->
	  </style>

          <style type="text/css">
		  #aka,#aka:link,#aka:hover,#aka:visited,#aka:active{color:#fff;text-decoration:none}
		  #aka:hover{border:none;text-decoration:none}
		  #aka:hover #akismet1{display:none}
		  #aka:hover #akismet2,#akismet1{display:block}
		  #akismet2{display:none;padding-top:2px}
		  #akismeta{font-size:16px;font-weight:bold;line-height:18px;text-decoration:none}
		  #akismetcount{display:block;font:15px Verdana,Arial,Sans-Serif;font-weight:bold;text-decoration:none}
		  #akismetwrap 
		  #akismetstats{background:url(/img/akismet.gif) no-repeat top left;border:none;color:#fff;
	          font:11px 'Trebuchet MS','Myriad Pro',sans-serif;height:40px;
		  line-height:100%;overflow:hidden;padding:8px 0 0;text-align:center;width:120px}
	  </style>
	   
    </head>
    <body>
    <div id="wrap">
      <div id="header">
	<div id="headerleft">
		<a href="/">{{settings.blogtitle}}</a><br />
	</div>
	<div id="headerright">
		<ul> 
			{{#headercategories}}
			<li class="page_item"><a href="/{{urlfriendly}}">{{name}}</a></li>
			{{/headercategories}}
		</ul>
	</div>
	<div id="headerbottom">
	  {{#username}}
	  <div id="credentialinfo" style="font-size:7pt; float:right; padding-right:10px;">
		  You are logged in as <b>{{username}}</b>, <a style="font-size:7pt;" href="logout">Logout</a> 
	  </div>
          {{/username}}
	</div>
      </div>

      <div style="clear:both;"></div>

      <div id="tagline" style="height:4px; width:945px;" ></div>

      <div id="content">
        <div id="l_sidebar">
	  <ul id="l_sidebarwidgeted">
	    <li id="recent-posts-3" class="widget widget_recent_entries"> 
	    <h2 class="widgettitle">Recent Posts</h2>
	    {{#recentposts}}
	    <li><a href="/{{urlfriendly}}/{{urlfriendtitle}}" title="{{title}}">{{title}}</a></li>
	    {{/recentposts}}
	    </li>
                                                            
	    <li id="wp_feed_text_link" class="widget widget_wp_feed_text_link"><h2 class="widgettitle">Subscribe</h2>
	      <div class="post rss">
		<a href="/feed" title="Subscribe posts via RSS"><img src="/img/feed-icon-14x14.png" />&nbsp; via RSS</a>
	      </div>
	    </li>

	    <li id="linkcat-2" class="widget widget_links" style="list-style: none;"><h2 class="widgettitle">Blogroll</h2>
	    	<ul class="xoxo blogroll">
		{{#links}}	
                  <li><a href="{{address}}" target="{{target}}">{{name}}</a></li>
                {{/links}}
		</ul>
		</li> </ul>
  </div>

  <div id="contentleft">
	  <!-- Main content goes here -->
	   {{{capsule}}}
  </div>

  <div id="r_sidebar">
    <ul id="r_sidebarwidgeted">
      
      <li id="tag_cloud-2" class="widget widget_tag_cloud"><h2 class="widgettitle">Tags</h2>
      <div class="tagcloud"> {{#tagcloud}} 
      <a href="/tag/{{name}}" style="font-size: {{size}}pt; color: {{color}};">{{name}}</a> {{/tagcloud}} </div>
      </li>
     
    
    <li id="akismet" class="widget widget_akismet">
				<h2 class="widgettitle">Spam Blocked</h2>
                <div id="akismetwrap"><div id="akismetstats">
                 <a id="aka" href="http://akismet.com" title=""><span id="akismet1">
                     <span id="akismetcount">746</span> 
                     <span id="akismetsc">spam comments</span></span> 
                     <span id="akismet2"><span id="akismetbb">blocked by</span><br>
                     <span id="akismeta">Akismet</span></span></a></div></div> 
     </li>
  </ul>
  </div>
</div>
</html>
