<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
      <title>{{settings.blogtitle}}</title>
      <description>{{Description}}</description>
      <link>{{Link}}</link>
      <language>{{Language}}</language>
      <copyright>{{CopyrightInfo}}</copyright>
      <pubDate>{{PubDate}}</pubDate>
      <lastBuildDate>{{LastBuildDate}}</lastBuildDate>

      {{#Items}}
        <item>
          <title>{{Title}}</title>
          <description>{{Summary}}</description>
          <link>{{Link}}</link>
          <guid>{{Link}}</guid>
          <pubDate>{{PubDate}}</pubDate>
        </item>
      {{/Items}}
  </channel>
</rss>
